/* Shared navbar styles */
.navbar-common {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 22px;
    height: 70px;
    border-bottom: 1px solid #202020;
}

/* When sidenav is extended */
.navbar {
    width: 100%;
}

/* When sidenav is collapsed */
.navbar-extension {
    width: 100%;
}

.project-name h1 {
    font-weight: 500;
    color: white;
    font-size: 32px;
}

.navbar-profile {
    display: flex;
    gap: 12px;
}

.toggle-theme-button,
.notification,
.profile-user-icon {
    background-color: #171717;
    padding: 6px 7px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 6px;
}

.notification {
    position: relative;
}

.notification p {
    position: absolute;
    color: white;
    right: -2px;
    top: -4px;
    border-radius: 999px;
    padding: 3px 3px;
    font-size: 10px;
    background-color: #c2431b;
}

.toggle-theme-button .light-mode-icon,
.toggle-theme-button .dark-mode-icon,
.notification-icon,
.user-icon {
    color: #636363;
    cursor: pointer;
}

.user-icon {
    padding: 4px 1px;
}

.profile-user-icon {
    border: 2px solid #2d7f41;
    padding: 4px 0px;
    border-radius: 999px;
    width: 40px;
    position: relative;
}

.user-active {
    background-color: #33d251;
    padding: 6px 6px;
    position: absolute;
    bottom: 1px;
    right: -4px;
    border-radius: 999px;
    cursor: pointer;
}

.active-status {
    display: flex;
    color: white;
    font-size: 12px;
    letter-spacing: 0;
    width: 120px;
    position: absolute;
    bottom: -37px;
    opacity: 0;
    right: -6px;
    padding: 6px 0px;
    align-items: center;
    justify-content: center;
    border: 2px solid #2d7f41;
    background-color: #202020;
    transition: opacity 0.4s ease-in-out;
    border-radius: 12px;
}

.profile-user-icon:hover,.user-active:hover .active-status {
    opacity: 1;
}