/* Grid layout: Sidebar | Main Content */
.home-page {
  display: grid;
  grid-template-columns: 15% 85%;
  height: 100vh;
  width: 100vw;
  background-color: #000;
  overflow: hidden;
}

.home-page-extension {
  display: grid;
  grid-template-columns: 5% 95%;
  height: 100vh;
  width: 100vw;
  background-color: #000;
  overflow: hidden;
}

.sidenavbar-home-page,
.sidenavbar-home-page-extension {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-content-area {
  height: 100%;
  overflow-y: auto;
  padding: 20px; /* optional */
  box-sizing: border-box;
  color: white;
}
